table {border: 5px solid rgb(0, 0, 0);}

td:active {background-color: rgb(63, 231, 243);color:rgb(36, 204, 31);}

tbody>tr:nth-of-type(odd) {background-color: rgb(11, 74, 211);}

thead tr {
  background-color: rgb(108, 108, 168);
  text-align: center;
  color: #ffffff;
  font-weight: normal;
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;}

tbody > tr:hover {background-color: rgb(63, 195, 212);}

body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(45deg,rgb(24, 108, 235),rgb(145, 192, 157));
}
h1 {
    color: #0c0713;
    font-weight: normal;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
  }

tbody img{
    width: 70px;
    height: 70px;
    align-items: center;   
  }

tbody td{
    text-align: center;
    color: #0c0713;
    font-weight: normal;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
